<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>ACCEUIL</title>
  <link rel="stylesheet">

  <body>

    <h1>Tradding en ligne, faire votre biff</h1>

    <div>
      <form action="" method="post">
        <label>USERNAME</label></br>
        <input name="usename" type="email" placeholder="Entrez votre username"><br><br>
        <label>PASSWORD</label><br>
        <input name="password" type="password" placeholder="Entrez votre password"><br><br>
        <input type="submit" value="LOGIN"><br><br>        
      </form>
    </div>
    <div>
      <form action="\news">
        <label>Nouveau tradder ?</label>
        <input value="Rejoins nous !" type="submit">
      </form>
    </div>


  </body>
 